.logpage {
  display: flex;
  flex-direction: row;
  width: 600px;
  height: 500px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  margin: 70px 350px;
}
.left1 {
  width: 250px;
  background-color: rgb(41, 141, 235);
  height: 500px;
  border-radius: 6px;
}
.left1 h1 {
  color: white;
  font-size: 1.6em;
}
.left1 p {
  margin-top: 30px;
  color: rgb(240, 229, 229);
  font-size: 1.2em;
  margin-right: 50px;
  font-weight: 500;
}
.left-item {
  margin-top: 50px;
  margin-left: 30px;
}
.right1 {
  height: 500px;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.textfields {
  margin: 30px 60px;
}
.right1 p {
  margin: 10px 6px;
  font-size: 14px;
}
.right1 .btn {
  width: 200px;
}
.logbtn {
  color: white;
  background-color: orangered;
}
.rqtbtn {
  margin-top: 10px;
  box-shadow: rgba(112, 151, 250, 0.517) 0px 5px 15px;
}
.right1 a {
  color: rgb(69, 127, 234);
  text-decoration: none;
  margin-top: 45px;
}
