* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.main {
  width: 1365px;
  height: 157.8px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.offer {
  height: 100px;
  width: 80px;
}
h1 {
  font-size: 14px;
  font-weight: 500;
  color: black;
  text-decoration: none;
}
.option {
  width: 100px;
  height: 157.8px;
  /* background-color: bisque; */
  text-align: center;
}
.option .sub {
  display: none;
  z-index: 1;
}
.option:hover .sub {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
  color: black;
  border-radius: 5px;
  font-size: 17px;
}
.option h1:hover {
  background-color: white;
  color: rgb(70, 151, 206);
}
.option .sub span {
  padding: 10px;
  cursor: pointer;
  font-size: 0.8em;
}
.option .sub span:hover {
  background-color: rgb(70, 151, 206);
  color: white;
}
